<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- tailwindcss... -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script
        src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>

    <!-- tailwindcss... -->
    <link href="../output.css" rel="stylesheet">


    <!-- bootstrap...! -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- bootstrap...! -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <!-- font awesome...! -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- images icon -->
    <link rel="shortcut icon" href="../images/photo_2024-06-11_12-00-54.png" type="image/x-icon">



    <!--- carousel script-->
    <script defer src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.0/dist/alpine.min.js" defer></script>

    <title>188DONG - Trang chủ chính thức nhà cái 188DONG Việt</title>


</head>

<body>

    <!--sign-->

    <header id="navbar" class=" header bg-white">
        <div class="bg-cyan-500">
            <div class="container ">
                <div class="block justify-between md:flex">
                    <a href="../components/index.html" class="flex justify-center items-center p-2">
                        <img src="../images/photo_2024-06-11_12-00-54.png" alt="" class="max-w-[80px]">
                    </a>
                    <ul
                        class="flex justify-center items-center p-4 *:cursor-pointer *:font-medium *:px-5 *:py-1 *:m-2 *:rounded-lg">
                        <li class="bg-amber-500 hover:shadow-md"><a href="https://www.hay88.one/?inviteCode=5289036" class="">ĐĂNG
                                NHẬP</a></li>
                        <li class="bg-red-600 "><a href="https://www.hay88.one/?inviteCode=5289036"
                                class="text-white hover:text-black">ĐĂNG KÝ</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- navigation screen -->
        <nav class="bg-blue-900 hidden md:block items-centerw-full py-2">
            <div class="container "></div>
            <ul class="flex justify-center flex-wrap p-4 *:font-medium *:px-4 *:py-2 *:text-white *:cursor-pointer">
                <li class=""><a href="../components/index.html"
                        class="hover:text-amber-400 hover:no-underline active:text-amber-400">188DONG</a></li>

                <li class=""><a href="../components/CASINO-TRỰC-TUYẾN.html"
                        class="hover:text-amber-400 hover:no-underline">CASINO
                        TRỰC TUYẾN</a></li>
                <li class=""><a href="../components/CÁ CƯỢC-BÓNG-ĐÁ.html"
                        class="hover:text-amber-400 hover:no-underline">CÁ CƯỢC
                        BÓNG ĐÁ</a></li>
                <li class=""><a href="../components/NỔ-HŨ-ĐỔI-THƯỞNG.html"
                        class="hover:text-amber-400 hover:no-underline">NỔ HŨ ĐỔI
                        THƯỞNG</a></li>
                <li class=""><a href="../components/LÔ-ĐỀ-ONLINE.html"
                        class="hover:text-amber-400 hover:no-underline">LÔ ĐỀ
                        ONLINE</a></li>
                <li class=""><a href="../components/GAME-BẮN-CÁ.html"
                        class="hover:text-amber-400 hover:no-underline">GAME BẮN
                        CÁ</a></li>
                <li class=""><a href="../components/THỂ-THAO-ĐIỆN-TỬ.html"
                        class="hover:text-amber-400 hover:no-underline">THỂ THAO
                        ĐIỆN TỬ</a></li>
            </ul>
        </nav>


        <!--menu-->

        <div class="bg-blue-950 md:hidden">
            <div class="container">
                <!-- button container -->
                <div class="relative py-2 justify-center flex items-center">
                    <nav x-data="{ open: false }" class="w-full">
                        <div class="flex justify-center">
                            <button class="text-gray-100 w-10 h-10 relative focus:outline-none" @click="open = !open">
                                <div class="menu-icon block w-5 absolute ">
                                    <span aria-hidden="true"
                                        class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
                                        :class="{'rotate-45': open, '-translate-y-1.5': !open }"></span>
                                    <span aria-hidden="true"
                                        class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
                                        :class="{'opacity-0': open } "></span>
                                    <span aria-hidden="true"
                                        class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
                                        :class="{'-rotate-45': open, 'translate-y-1.5': !open}"></span>
                                </div>
                            </button>
                            <span class="text-white uppercase mt-2 items-center justify-center">menu</span>
                        </div>
                        <!-- List container -->
                        <ul x-show="open" class=" text-white mt-2 *:py-2 space-y-2  *:font-medium">
                            <li class=""><a href="../components/index.html"
                                    class="hover:text-amber-400 hover:no-underline active:text-amber-400">188DONG</a>
                            </li>

                            <li class=""><a href="../components/CASINO-TRỰC-TUYẾN.html"
                                    class="hover:text-amber-400 hover:no-underline">CASINO
                                    TRỰC TUYẾN</a></li>
                            <li class=""><a href="../components/CÁ CƯỢC-BÓNG-ĐÁ.html"
                                    class="hover:text-amber-400 hover:no-underline">CÁ CƯỢC
                                    BÓNG ĐÁ</a></li>
                            <li class=""><a href="../components/NỔ-HŨ-ĐỔI-THƯỞNG.html"
                                    class="hover:text-amber-400 hover:no-underline">NỔ HŨ ĐỔI
                                    THƯỞNG</a></li>
                            <li class=""><a href="../components/LÔ-ĐỀ-ONLINE.html"
                                    class="hover:text-amber-400 hover:no-underline">LÔ ĐỀ
                                    ONLINE</a></li>
                            <li class=""><a href="../components/GAME-BẮN-CÁ.html"
                                    class="hover:text-amber-400 hover:no-underline">GAME BẮN
                                    CÁ</a></li>
                            <li class=""><a href="../components/THỂ-THAO-ĐIỆN-TỬ.html"
                                    class="hover:text-amber-400 hover:no-underline">THỂ THAO
                                    ĐIỆN TỬ</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- End button container -->

            </div>
        </div>



    </header>


    <section class="bg-blue-800 w-full">
        <div class="bg bg-cover w-full h-full" style="background-image: url(https://hl8.ink/wp-content/uploads/2022/11/casino-hl8-bg.webp);">
            <div class="main max-w-[1200px] m-auto grid grid-cols-1 md:grid-cols-2">
                <div class="txt flex justify-center items-center">
                    <h1 class="text-3xl lg:text-5xl text-white font-bold leading-relaxed lg:leading-relaxed">
                        TÌM HIỂU CHI TIẾT VỀ 188DONG AFFILIATE CHO NGƯỜI MỚI
                    </h1>
                </div>
                <div class="image w-[80%] m-auto">
                    <img src="../images/pic2/Artboard 7.png" alt="" class="w-full">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-blue-900 p-2 text-white">
        <div class="container ">
            <div class="mt-10 leading-normal">
                <h1>Chương trình hợp tác giữa 188DONG Việt Nam và các đối tác đại lý nhằm mang đến cơ hội chia sẻ doanh thu, hợp tác và cùng phát triển. Chúng tôi sở hữu một hệ thống Affiliate Network hiện đại, cung cấp nhiều công cụ hỗ trợ, báo cáo rõ ràng, minh bạch. Đại lý 188DONG là hình thức kiếm tiền từ nhà cái tốt nhất hiện nay, đảm bảo cho bạn doanh thu và tỷ lệ hoa hồng hấp dẫn nhất thị trường.</h1>
            </div>
            <div class="mt-10">
                <h1 class="text-center text-3xl font-bold">PHÙ HỢP NHẤT ĐỂ LÀM ĐẠI LÝ 188DONG</h1>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-10">
                    <div class="mx-auto w-full">
                        <div class="flex justify-center items-center">
                            <img src="../images/seo.webp" alt="" class="w-20">
                        </div>
                        <div class="*:mt-6">
                            <h1 class="text-center text-amber-600 font-bold ">Webmaster</h1>
                            <p class="text-center ">Webmaster với những kiến thức về xây dựng website, tối ưu công cụ tìm kiếm SEO sẽ là thế mạnh. Doanh thu từ đại lý webmaster luôn đứng vị trí hàng đầu.</p>
                        </div>
                    
                        
                    </div>
                    <div class="mx-auto w-full">
                        <div class="flex justify-center items-center">
                            <img src="../images/social-pydgu5dhsb0azk0ia6xqzxbpuozdxdxbfutbe3xmgg.webp" alt="" class="w-20">
                        </div>
                        <div class="*:mt-6">
                            <h1 class="text-center text-amber-600 font-bold ">Social</h1>
                            <p class="text-center ">Nếu bạn là người có nhiều fanpage, nhóm Facebook có nhiều thành viên, người theo dõi là một lợi thế. Quảng cáo đường link sẽ trở nên dễ dàng hơn và doanh thu cao hơn.</p>
                        </div>
                    
                        
                    </div>
                    <div class="mx-auto w-full">
                        <div class="flex justify-center items-center">
                            <img src="../images/ads-pydh8k8ekuql0b2u4f7t8ae5rdxzyb55f6xcaukb1s.webp" alt="" class="w-20">
                        </div>
                        <div class="*:mt-6">
                            <h1 class="text-center text-amber-600 font-bold ">Advertiser</h1>
                            <p class="text-center ">Nhà quảng cáo luôn là những người có lợi thế về thời gian. Bạn có thể tận dụng khả năng tối ưu chiến dịch quảng cáo và tiếp cận người chơi nhanh nhất để tối đa doanh thu.</p>
                        </div>
                    
                        
                    </div>

                </div>
            </div>
        </div>




        
    </section>


    <!-- body text -->



    <footer class="">
        <div class="bg-sky-900">
            <div class="container">
                <div class="grid grid-cols-1 md:grid-cols-4 gap-6 text-white p-2">
                    <div class="*:p-2 border-l-2 border-r-2 border-dotted border-gray-400">
                        <img src="../images/photo_2024-06-11_12-00-54.png" alt="" class="w-[80px]">
                        <p>188DONG Việt Nam xin trân trọng cảm ơn sự đồng hành của quý khách! Tại trang chủ đăng ký và đăng
                            nhập
                            188DONG, quý khách có thể sử dụng link mới nhất, đảm bảo an toàn tài khoản. Bên cạnh đó, đội ngũ
                            chuyên
                            viên luôn sẵn sàng hỗ trợ qua kênh chat trực tuyến tại đây.</p>
                    </div>
                    <div class="*:p-2 border-l-2 border-r-2 border-dotted border-gray-400 text-white">
                        <h1 class="font-medium text-amber-500">TRANG THÔNG TIN</h1>
                        <div class="flex flex-col *:mt-2">
                            <a href="../views/Giới-Thiệu.html" class="hover:text-amber-500 hover:underline">Giới
                                Thiệu</a>

                            <a href="../views/../components/index.html"
                                class="hover:text-amber-500 hover:underline">Điều
                                Khoản Sử Dụng</a>
                
                            <a href="../views/Đại-Lý.html" class="hover:text-amber-500 hover:underline">Đại Lý</a>
                            <a href="../views/Hướng-Dẫn.html" class="hover:text-amber-500 hover:underline">Hướng Dẫn</a>
                            <a href="../views/Sự-Kiện-HL8.html" class="hover:text-amber-500 hover:underline">Sự Kiện
                                188DONG</a>
                        </div>
                    </div>
                    <div class="*:p-2 border-l-2 border-r-2 border-dotted border-gray-400 text-white">
                        <h1 class="font-medium text-amber-500">TRANG HƯỚNG DẪN</h1>
                        <div class="flex flex-col *:mt-2">
                            <a href="../views/cach-nap-tien-tai-khoan-hl8.html"
                                class="hover:text-amber-500 hover:underline">Hướng Dẫn Nạp Tiền Tài Khoản 188DONG</a>
                            
                            <a href="../views/cach-tao-tai-khoan-trang-hl8.html" class="hover:text-amber-500 hover:underline">Hướng Dẫn Đăng Ký Tài Khoản Nhà
                                Cái</a>
                            <img src="../images/dmca_protected_sml_120l.png" alt="" class="w-24 mt-4">
                        </div>
                    </div>
                    <div class="*:p-2 border-l-2  border-r-2 border-dotted border-gray-400 text-white">
                        <h1 class="font-medium text-amber-500">NHÀ CUNG CẤP</h1>
                        <div class="flex flex-col *:mt-2">
                            <img src="../images/footer-provider.webp" alt="">
                        </div>
                        <p>Đơn vị tiền tệ được chấp nhận</p>
                        <img src="../images/currency.webp" alt="">
                    </div>
                </div>
            </div>

        </div>

        <div class="justify-center flex bg-slate-300 p-2">
            <div class="container">
                <p class="text-center text-[14px]">© 2024 188DONG Việt Nam - Trang chủ chính thức hỗ trợ đăng nhập, đăng ký
                    tài khoản mới. Vui lòng tham khảo
                    trang điều khoản sử dụng và đảm bảo tài khoản chỉ dành cho người trên 18+.
                    All copyrights reserved.</p>
            </div>

        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="index.js"></script>
</body>

</html>