<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- tailwindcss... -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script
        src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>

    <!-- tailwindcss... -->
    <link href="../output.css" rel="stylesheet">


    <!-- bootstrap...! -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- bootstrap...! -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <!-- font awesome...! -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- images icon -->
    <link rel="shortcut icon" href="../images/photo_2024-06-11_12-00-54.png" type="image/x-icon">



    <!--- carousel script-->
    <script defer src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.0/dist/alpine.min.js" defer></script>

    <title>188DONG.At - Trang chủ chính thức nhà cái HL8 Việt</title>



</head>

<body>

    <!--sign-->

    <header id="navbar" class=" header bg-white">
        <div class="bg-cyan-500">
            <div class="container ">
                <div class="block justify-between md:flex">
                    <a href="./index.html" class="flex justify-center items-center p-2">
                        <img src="../images/photo_2024-06-11_12-00-54.png" alt="" class="max-w-[80px]">
                    </a>
                    <ul
                        class="flex justify-center items-center p-4 *:cursor-pointer *:font-medium *:px-5 *:py-1 *:m-2 *:rounded-lg">
                        <li class="bg-amber-500 hover:shadow-md"><a href=" https://www.hay88.one/?" class="">ĐĂNG
                                NHẬP</a></li>
                        <li class="bg-red-600 "><a href=" https://www.hay88.one/?"
                                class="text-white hover:text-black">ĐĂNG KÝ</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- navigation screen -->
        <nav class="bg-blue-900 hidden md:block items-centerw-full py-2">
            <div class="container "></div>
            <ul class="flex justify-center flex-wrap p-4 *:font-medium *:px-4 *:py-2 *:text-white *:cursor-pointer">
                <li class=""><a href="./index.html"
                        class="hover:text-amber-400 hover:no-underline active:text-amber-400">188DONG</a></li>

                <li class=""><a href="./CASINO-TRỰC-TUYẾN.html" class="hover:text-amber-400 hover:no-underline">CASINO
                        TRỰC TUYẾN</a></li>
                <li class=""><a href="./CÁ CƯỢC-BÓNG-ĐÁ.html" class="hover:text-amber-400 hover:no-underline">CÁ CƯỢC
                        BÓNG ĐÁ</a></li>
                <li class=""><a href="./NỔ-HŨ-ĐỔI-THƯỞNG.html" class="hover:text-amber-400 hover:no-underline">NỔ HŨ ĐỔI
                        THƯỞNG</a></li>
                <li class=""><a href="./LÔ-ĐỀ-ONLINE.html" class="hover:text-amber-400 hover:no-underline">LÔ ĐỀ
                        ONLINE</a></li>
                <li class=""><a href="./GAME-BẮN-CÁ.html" class="hover:text-amber-400 hover:no-underline">GAME BẮN
                        CÁ</a></li>
                <li class=""><a href="./THỂ-THAO-ĐIỆN-TỬ.html" class="hover:text-amber-400 hover:no-underline">THỂ THAO
                        ĐIỆN TỬ</a></li>
            </ul>
        </nav>


        <!--menu-->

        <div class="bg-blue-950 md:hidden">
            <div class="container">
                <!-- button container -->
                <div class="relative py-2 justify-center flex items-center">
                    <nav x-data="{ open: false }" class="w-full">
                        <div class="flex justify-center">
                            <button class="text-gray-100 w-10 h-10 relative focus:outline-none" @click="open = !open">
                                <div class="menu-icon block w-5 absolute ">
                                    <span aria-hidden="true"
                                        class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
                                        :class="{'rotate-45': open, '-translate-y-1.5': !open }"></span>
                                    <span aria-hidden="true"
                                        class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
                                        :class="{'opacity-0': open } "></span>
                                    <span aria-hidden="true"
                                        class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
                                        :class="{'-rotate-45': open, 'translate-y-1.5': !open}"></span>
                                </div>
                            </button>
                            <span class="text-white uppercase mt-2 items-center justify-center">menu</span>
                        </div>
                        <!-- List container -->
                        <ul x-show="open" class=" text-white mt-2 *:py-2 space-y-2  *:font-medium">
                            <li class=""><a href="./index.html"
                                    class="hover:text-amber-400 hover:no-underline active:text-amber-400">188DONG</a>
                            </li>

                            <li class=""><a href="./CASINO-TRỰC-TUYẾN.html"
                                    class="hover:text-amber-400 hover:no-underline">CASINO TRỰC TUYẾN</a></li>
                            <li class=""><a href="./CÁ CƯỢC-BÓNG-ĐÁ.html"
                                    class="hover:text-amber-400 hover:no-underline">CÁ CƯỢC BÓNG ĐÁ</a></li>
                            <li class=""><a href="./NỔ-HŨ-ĐỔI-THƯỞNG.html"
                                    class="hover:text-amber-400 hover:no-underline">NỔ HŨ ĐỔI THƯỞNG</a></li>
                            <li class=""><a href="./LÔ-ĐỀ-ONLINE.html"
                                    class="hover:text-amber-400 hover:no-underline">LÔ ĐỀ ONLINE</a></li>
                            <li class=""><a href="./GAME-BẮN-CÁ.html"
                                    class="hover:text-amber-400 hover:no-underline">GAME BẮN CÁ</a></li>
                            <li class=""><a href="./THỂ-THAO-ĐIỆN-TỬ.html"
                                    class="hover:text-amber-400 hover:no-underline">THỂ THAO ĐIỆN TỬ</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- End button container -->

            </div>
        </div>



    </header>

    <section class="bg-blue-800 w-full">
        <div class="bg bg-cover w-full h-full" style="background-image: url(https://hl8.ink/wp-content/uploads/2022/11/casino-hl8-bg.webp);">
            <div class="main max-w-[1200px] m-auto grid grid-cols-1 md:grid-cols-2">
                <div class="txt flex justify-center items-center">
                    <h1 class="text-3xl lg:text-5xl text-white font-bold leading-relaxed lg:leading-relaxed">
                        ĐÁNH LÔ ĐỀ ONLINE HL8 TỶ LỆ 1 ĂN 95 HOÀN TRẢ CAO
                    </h1>
                </div>
                <div class="image w-[80%] m-auto">
                    <img src="../images/lo-de-online-hl8-1.webp" alt="" class="w-full">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-blue-950 p-2">
        <div class="container">
            <div class="text-white *:mt-10">
                <p>Trang web đánh lô đề online uy tín hàng đầu với tỷ lệ 1 ăn 95 cùng hoàn trả cược thua cao nhất thị trường.<span class="text-amber-500 font-medium">188dog</span> cam kết không để người chơi thất vọng với dịch vụ cung cấp. Đặc biệt, tại trang lô đề, người chơi còn được nhận tiền cỏ mỗi ngày, chào mừng lên đến 3 triệu đồng.</p>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center mt-10">
                    <div class="text-white ">
                        <h1 class="text-xl md:text-3xl text-center font-medium text-amber-500">Những Ưu Điểm Chơi Lô Đề Online</h1>
                        <p class="mt-4">Trong thời đại công nghệ phát triển, chơi đánh lô đề online đã không còn quá xa lạ thậm chí đang làm xu hướng liên tục tăng tại Việt Nam. Bỏ xa hình thức ghi đề truyền thống, giờ đây người chơi đã có thể tham gia dễ dàng hơn cùng tỷ lệ thắng cao hơn rất nhiều lần. Tuy vậy, đến nhầm trang lừa đảo lại là một thảm họa. Do đó, hãy chọn HL8 là trang nhà cái lô đề uy tín hàng đầu hiện nay để tham gia các bạn nhé.</p>
                        <div class="list-disc p-4">
                            <li>
                                Lô đề online 1 ăn 95 tiền cỏ mỗi ngày
                            </li>
                            <li>
                                Thưởng chào mừng người mới nạp lên đến 3 triệu đồng
                            </li>
                            <li>
                                Hoàn trả 0.5% mỗi ngày không giới hạn, không cần cược lại
                            </li>
                            <li>
                                Cam kết giao dịch nạp rút nhanh, xử lý 24/7
                            </li>
                            <li>
                                Đảm bảo ví an toàn, bảo mật thông tin tài khoản cá nhân.
                            </li>
                            <li>
                                Đội ngũ tư vấn và hỗ trợ thành viên luôn sẵn sàng 24/24.
                            </li>
                            <li>
                                Nhiều hình thức chơi lô đề lựa chọn như 3 càng, xiên, bao lô v.v...
                            </li>
                            <li>
                                Có hình thức chơi lô đề siêu tốc, kết quả thắng thua hiển thị nhanh.
                            </li>
                            <li>
                                Hỗ trợ ứng dụng trên điện thoại, ghi số đề online mọi lúc mọi nơi.
                            </li>
                        </div>
                        <div class="justify-center flex mt-4">
                            <a href="" target="_blank" class="bg-orange-600 py-3 px-4 rounded-lg">
                            ĐĂNG KÝ THAM GIA NGAY
                        </a>
                        </div>
                        

                    </div>
                    <div class="">
                        <img src="../images/lo-de-online-vs-truyen-thong.webp" alt="">
                    </div>
                </div>
            </div>




        </div>
    </section>


    <!-- body text -->



    <footer class="">
        <div class="bg-sky-900">
            <div class="container">
                <div class="grid grid-cols-1 md:grid-cols-4 gap-6 text-white p-2">
                    <div class="*:p-2 border-l-2 border-r-2 border-dotted border-gray-400">
                        <img src="../images/photo_2024-06-11_12-00-54.png" alt="" class="w-[80px]">
                        <p>HL8 Việt Nam xin trân trọng cảm ơn sự đồng hành của quý khách! Tại trang chủ đăng ký và đăng
                            nhập
                            HL8, quý khách có thể sử dụng link mới nhất, đảm bảo an toàn tài khoản. Bên cạnh đó, đội ngũ
                            chuyên
                            viên luôn sẵn sàng hỗ trợ qua kênh chat trực tuyến tại đây.</p>
                    </div>
                    <div class="*:p-2 border-l-2 border-r-2 border-dotted border-gray-400 text-white">
                        <h1 class="font-medium text-amber-500">TRANG THÔNG TIN</h1>
                        <div class="flex flex-col *:mt-2">
                            <a href="../views/Giới-Thiệu.html" class="hover:text-amber-500 hover:underline">Giới
                                Thiệu</a>

                            <a href="../views/../components/index.html"
                                class="hover:text-amber-500 hover:underline">Điều
                                Khoản Sử Dụng</a>
                            <a href="../components/index.html" class="hover:text-amber-500 hover:underline">Chính Sách
                                Bảo Mật</a>
                            <a href="../views/Đại-Lý.html" class="hover:text-amber-500 hover:underline">Đại Lý</a>
                            <a href="../views/Hướng-Dẫn.html" class="hover:text-amber-500 hover:underline">Hướng Dẫn</a>
                            <a href="../views/Sự-Kiện-HL8.html" class="hover:text-amber-500 hover:underline">Sự Kiện
                                HL8</a>
                        </div>
                    </div>
                    <div class="*:p-2 border-l-2 border-r-2 border-dotted border-gray-400 text-white">
                        <h1 class="font-medium text-amber-500">TRANG HƯỚNG DẪN</h1>
                        <div class="flex flex-col *:mt-2">
                            <a href="../views/cach-nap-tien-tai-khoan-hl8.html"
                                class="hover:text-amber-500 hover:underline">Hướng Dẫn Nạp Tiền Tài Khoản HL8</a>
                            <a href="../views/cach-nap-tien-tai-khoan-hl8.html"
                                class="hover:text-amber-500 hover:underline">Hướng Dẫn Cách Rút Tiền Từ HL8</a>
                            <a href="" class="hover:text-amber-500 hover:underline">Hướng Dẫn Đăng Ký Tài Khoản Nhà
                                Cái</a>
                            <img src="../images/dmca_protected_sml_120l.png" alt="" class="w-24 mt-4">
                        </div>
                    </div>
                    <div class="*:p-2 border-l-2  border-r-2 border-dotted border-gray-400 text-white">
                        <h1 class="font-medium text-amber-500">NHÀ CUNG CẤP</h1>
                        <div class="flex flex-col *:mt-2">
                            <img src="../images/footer-provider.webp" alt="">
                        </div>
                        <p>Đơn vị tiền tệ được chấp nhận</p>
                        <img src="../images/currency.webp" alt="">
                    </div>
                </div>
            </div>

        </div>

        <div class="justify-center flex bg-slate-300 p-2">
            <div class="container">
                <p class="text-center text-[14px]">© 2024 HL8 Việt Nam - Trang chủ chính thức hỗ trợ đăng nhập, đăng ký
                    tài khoản mới. Vui lòng tham khảo
                    trang điều khoản sử dụng và đảm bảo tài khoản chỉ dành cho người trên 18+.
                    All copyrights reserved.</p>
            </div>

        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="index.js"></script>
</body>

</html>